:root {
    --primary-gradient: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
    /* --primary-gradient:linear-gradient(40deg, #ffc107, #ff5407); */
    --primary-gradient-half-transparent: linear-gradient(60deg, rgb(83 58 183 / 92%) 0%, rgb(0 171 193 / 97%) 100%);
    --primary: #3a4fbb;
    --light-grey: hsla(228, 22%, 95%, 0.753);
    --grey: #aeaeae;
    --box-shadow: 0px 2px 18px 0px rgba(69, 74, 96, 0.136);
    --black: #0a0a0a;
}

* {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}



.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* background: var(--primary-gradient); */
}

.navbar {
    transition: 0.4s all;
    background: transparent;
}

.nav-link {
    padding: 10px;
    margin: 0 10px;
    font-size: 13px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link {
    position: relative;
    text-decoration: none;
}

.dropdown-item {
    white-space: normal;
    border-bottom: 1px solid var(--light-grey);
}

.dropdown-item:hover {
    background: var(--primary-gradient);
    color: white;
}

.header {
    background: var(--primary-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    color: white;
}

.dynamic-content {
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px 23px !important;
}

.btn-rounded {
    border-radius: 100px;
}

.btn-primary {
    background: var(--primary-gradient);
    border: 0;
}

.bg-primary {
    background: var(--primary-gradient) !important;
    color: white !important;
}

.bg-light-grey {
    background: var(--light-grey) !important;
}

.navbar-light .navbar-nav .nav-link {
    transition: 0.4s all;
    color: black;
    /* Change link color */
}

.tagline-text {
    font-size: 25px;
    line-height: 45px;
}

.text-25 {
    font-size: 25px;
}

.text-light-grey {
    color: var(--light-grey) !important;
}

.text-shadow {
    text-shadow: 0 3px 3px #00000057;
}

.font-100 {
    font-weight: 100;
}

.font-200 {
    font-weight: 200;
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.font-800 {
    font-weight: 800;
}

.font-900 {
    font-weight: 900;
}

.font-bold {
    font-weight: bold;
}

.font-bolder {
    font-weight: bolder;
}

p {
    font-size: 20px;
}

#hero {
    background-image: url("../images/hero-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero .hero-layout {
    /* position: absolute;
    top: 0; */
    padding-top: 100px;
    /* left: 0; */
    height: 100%;
    width: 100%;
    color: white;
    background: var(--primary-gradient-half-transparent);
    backdrop-filter: blur(3px);
}

#hero .hero-wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#offer {
    margin-top: 100px;
    position: relative;
    padding-bottom: 50px;
}

#offer .offer-image {
    background-image: url("../images/offer-image.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    filter: hue-rotate(49deg);
}
/* new code */
.offer-card{
    padding:  20px;
    border-radius: 10px;
    border : 1px solid #eff1f5c0;
    box-shadow: 0 0 rgb(255, 255, 255);
    transform: translateY(0);
    transition: 0.3s ease-in-out;
    margin: 10px 0;
    background: white;
}
.offer-card:hover{
    box-shadow: 0px 16px 16px -15px #dfdfdf;
    transition: 0.3s ease-in-out;
    transform: translateY(-20px);
    /* background: var(--primary); */
    color: white;
}
.offer-icon{
    height: 70px;
    width: 70px;
}
.offer-icon img{
    height: 100%;
    width: 100%;
}
.offer-title{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    color: var(--black);
    transition: 0.3s ease-in-out;
}
/* .offer-card:hover .offer-title{
    transition: 0.3s ease-in-out;
    color: white;
} */
.offer-content{
    transition: 0.3s ease-in-out;
    font-size: 13px;
    color: #aeaeae;
}
/* .offer-card:hover .offer-content{
    transition: 0.3s ease-in-out;
    color: white;
} */


/* new code end */
#marketplaces {
    background: var(--light-grey);
    position: relative;
    overflow-x: hidden;
    padding-bottom: 50px;
    margin: 50px 0;
}

/* marketplace Swiper */
.testimonial-swiper {
    overflow-x: hidden;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: contain;
}

#services {
    padding-bottom: 30px;
}

#services .service-container {
    padding: 40px 0;
}

#services .service-description {
    font-size: 17px;
}

#services .service-container img {
    border-radius: 10px;
    /* background-color: white; */
    height: 300px;
    width: 300px;
}

#testimonials {
    padding-bottom: 40px;
    height: 450px;
    position: relative;
}

.testimonial-card {
    min-height: 300px;
    width: 350px;
    border-radius: 10px;
    background: white;
    box-shadow: var(--box-shadow);
    position: relative;
    padding: 20px;
    margin: 0 25px;
}

.testimonial-quote {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20px;
    right: -20px;
}

.testimonial-header {
    display: flex;
}

.testimonial-image {
    border: 3px solid white;
    box-shadow: var(--box-shadow);
    border-radius: 100px;
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.testimonial-title {
    font-size: 20px;
    font-weight: 500;
    margin-left: 15px;
}

.testimonial-rating {
    margin-left: 15px;
}

.testimonial-content {
    font-size: 16px;
    text-align: justify;
    margin-top: 20px;
}

#join-us {
    background: var(--primary-gradient);
    color: white;
    padding: 40px 0;
    margin-top: 20px;
}

.query-form label {
    margin: 10px 0;
}

.query-form input {
    background: rgba(255, 255, 255, 0.087) !important;
    border: 0;
    border-bottom: 3px solid rgba(255, 255, 255, 0.662);
    border-radius: 0px;
    color: white !important;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 15px;
}

.query-form input::placeholder {
    color: rgba(255, 255, 255, 0.662);
}

.query-form .icon-btn {
    margin-top: 9px;
}

#footer {
    /* height: 500px; */
    background: var(--black);
    padding: 40px 0;
    color: white;
}

#footer .footer-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--light-grey);
    margin: 5px 0;
    transition: 0.3s ease;
}

#footer .footer-link:hover {
    text-decoration: underline;
    transition: 0.3s ease;
}

.icon-btn {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid var(--light-grey);
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.icon-btn-group {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    cursor: pointer;
}

.icon-btn:hover {
    background-color: #ffffff7e;
    transition: 0.3s ease-in-out;
}



/* Styles for screens with a width of at max 519px */
@media (max-width: 400px) {
    #hero {
        height: 100vh;
    }
}

@media (max-width: 519px) {
    .navbar {
        background: var(--primary-gradient);
    }

    #hero {
        height: auto;
    }

    #hero .hero-layout {
        padding: 100px 10px;
    }

    .tagline-text {
        font-size: 15px;
        line-height: 20px;
    }

    #offer {
        margin-top: 10px;
        padding: 10px;
    }

    #offer .d-list {
        font-size: 13px;
    }

    #offer .offer-image {
        height: 200px;
        background-position: center;
        margin: 20px 0;
    }

    p {
        font-size: 15px;
        text-align: justify;
    }

    #services .service-description {
        font-size: 15px;
    }

    #services .service-container img {
        border-radius: 10px;
        /* background-color: white; */
        height: 200px;
        width: 200px;
    }

    #join-us {
        padding: 40px 20px;
    }

    #footer {
        padding: 20px;
    }

    .copyright {
        font-size: 10px;
        text-align: center;
    }
}

/* Styles for screens with a width of at least 520px */
@media (min-width: 520px) {
    .navbar {
        background: var(--primary-gradient);
    }

    #hero {
        height: auto;
    }

    .tagline-text {
        font-size: 20px;
        line-height: 30px;
    }


}

/* Styles for screens with a width of at least 768px */
@media (min-width: 768px) {
    .navbar-nav a::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 2px;
        background-color: white;
        /* Color of the underline */
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
    }

    .navbar-nav .nav-link.active::before,
    .navbar-nav .nav-link:hover::before {
        transform: scaleX(1);
    }

    .dropdown-item {
        white-space: nowrap;
    }

    #hero {
        height: auto;
    }

    .tagline-text {
        font-size: 17px;
        line-height: 30px;
    }

    /* margin-top: 100px; */

    .navbar {
        background: var(--primary-gradient);
    }

}

/* Styles for screens with a width of at least 992px */
@media (min-width: 992px) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: #e1dede;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--primary-gradient);
    }

    #hero {
        height: auto;
    }

    .tagline-text {
        font-size: 25px;
        line-height: 36px;
    }

    .navbar {
        transition: 0.4s all;
        background: transparent;
    }

}

/* Styles for screens with a width of at least 1120px */
@media (min-width: 1120px) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: #e1dede;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--primary-gradient);
    }

    #hero {
        height: 100vh;
    }
}